<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <div>
        <a href="{% url 'app:eventscatalog' %}">Список мероприятий</a>
    </div>
    <form method="POST" action="{% url 'app:adddb' %}">
        {% csrf_token %}
        <input id="event_name" name="event_name" type="text">
        <input id="event_text" name="event_text" type="text">
        <input id="event_time_begin" name="event_time_begin" type="datetime-local">
        <input id="event_time_end" name="event_time_end" type="datetime-local">
        <input id="event_price" name="event_price" type="text"><br>

        <input id="event_url" name="event_url" type="url" placeholder="Ссылка на карту (оставьте пустым для Ульяновска)"
            style="width: 400px;"><br>

        <input id="event_max_participants" name="event_max_participants" type="text"
            placeholder="Максимальное количество участников">

        <select id="event_status" name="event_status">
            <option value="active" selected>Активно</option>
            <option value="cancelled">Отменено</option>
            <option value="completed">Завершено</option>
        </select><br>


        <input type="submit" value="Кнопка">
    </form>
</body>

</html>